.test-element {
    border: 1px solid #f0f;
    width: 480px;
    height: 640px;
}

.aspect-ratio--square {
    background: blue;
}

.aspect-ratio--rectangle-small-wide {
    background: purple;
}

.aspect-ratio--rectangle-wide {
    background: orange;
}

.aspect-ratio--rectangle-small-tall {
    background: teal;
}

.aspect-ratio-rectangle-tall {
    background: red;
}
